
body .location{
  display: inline-block;
  height: 150px;
  width: 200px;
  margin: 15px;
  border: 2px solid pink;
}
.bank {
  margin-bottom: 20px;
}
.location input{
  width: 100px;
  heigh: 40px;
  position: relative;
  top: 30px;
  left: 50px;
}
h1 {
  font-size: 18px;
  text-align: center;
}
h4 {
  font-size: 12px;
  text-align: center;
}
.log {
  position: relative;
  top: 300px;
  right: 600px;
}
body {
  height: auto;
}
