<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Let's Talk Ninjas</title>
  </head>
  <body>
    <h1>Did you know...</h1>
    <p>Ninja (忍者) were a type of warrior who specialized in unconventional warfare such as infiltration, sabotage and assassination during the age of the samurai. Another way of calling them is "shinobi", meaning "those who act in stealth". Ninja employed deception and forgery tactics to take opponents out by surprise. Due to their unorthodox methods which contradicted the way of the warrior (bushido), the ninja were not credited with the same honor as the samurai.</p>
    <h2>Neat huh?</h2>
    <p>The diverse range of skills practiced by the ninja is called ninjutsu - the art of stealth - and includes training in armed combat, weapon techniques, military strategy, meteorology, geometry and breathing synthesis. Ninjutsu was passed down through generations within families or directly from teacher to a selected one or few disciples. This secrecy in part explains why little factual information exists about the ninja, giving rise to lots of stereotyping of them both within Japan and in the West.</p>
  </body>
</html>
